@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .mycontainer {
        @apply container px-40 py-16;
    }
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  